// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	font-weight: lighter;
	font-size: xx-large;
}

.h1 {
	align: center;
}

.h2 {
	font-family: ff-enzo-web;
}

.navbar {
	word-spacing: 58px;
	font-family: ff-enzo-web;
	padding: 5px;
	margin: 5px;
}

.navbar li {

word-spacing: 10px;

display: inline;
list-style: none;
margin: 25px;
}

.navbar li a {
	text-decoration: none;
	color: black;
}

.navbar li a:hover {
	text-decoration: underline;
}

p {
	font-family: ff-enzo-web;

}

.about {
	font-family: ff-enzo-web;
	font-size: xx-large;
}


