<!DOCTYPE >
<html>
<body>
<center>
	<h1 class="main">About This Site</h1>
      <p class="about">Apricot is <i>consulting for the rest of us</i>.
</p>
<p>We are a team of two providing various services, such as Apple support, web design and web development. <br />We believe more in beautiful, simple solutions, instead of the typical bells and whistles. <br />Our projects are made with interaction in mind. <br />Ease of use, interactivity, and beauty are the key values that drive our services.</p>
      
</center>
      
</body>
</>
