


<body>
	<center>
		<h1 class="main">Apricot Computer Services</h1>
		<img src="http://a1.twimg.com/profile_images/1255392704/		apricot.jpg">
      	<p>I'm an <b>Apple Certified Support Technician</b> and 	<b>web developer</b> living in <b>Fairfield, California</b>.</p>
      <p>This page is a placeholder and will be edited constantly in the following weeks. Meanwhile, you can contact me by <a href="mailto:peraza@me.com">email</a> and on <a 	href="http://twitter.com/priau">Twitter.</a><br /><br /></p>
      
</center>
      
</body>



