<!DOCTYPE >
<html>
<body>
<center>
	<h1 class="main">Rates</h1>
      <p>The average cost is <b>$25 per hour</b>.</p>
      <p>My goal is to serve individuals and small businesses.</p>
      <p>Apricot Computer Services is <b>consulting for the rest of us</b>.</p>
      
</center>
      
</body>
</>
