<!DOCTYPE >
<html>
<body>
	<center>
	<h1 class="main">Services</h1>
      <p>We provide consultance to individuals, training in iLife (GarageBand, iMovie, iPhoto), iWork (Pages, Keynote, Numbers), and also website creation and maintenance.</p>
      
</center>
      
</body>
</>
